// Default variable overrides
$primary:#00329f;
$secondary: #adadad;
$success: #007d5e;
$info:#00bfe0;
$warning:#fcd700;
$danger:#d8262f;
$light:#D9D9D9;
$dark: #18202D;


// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";